<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDE3g4uhrU_XutpChJpyyQIfeFIRgYq37Q</string>
	<key>GCM_SENDER_ID</key>
	<string>199451659471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectIi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-ii-603da</string>
	<key>STORAGE_BUCKET</key>
	<string>project-ii-603da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199451659471:ios:9b2ff54c49d83a8c41fbba</string>
</dict>
</plist>